body {
    font-family: sans-serif;
    margin: 0;
}

header img {
    max-height: 10vh;
}

header {
    font-size: 6vh;
    font-weight: bold;
    margin-left: 5vw;
}

nav li {
    display: inline;
    margin: 0 5vw;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

article p {
    margin-right: 5vw;
}

.event-image {
    max-height: 20vh;
}

aside {
    border-style: solid;
    border-width: 3px;
    border-color: green;
    border-radius: 8px;
    background-color: lightgreen;
}

aside p {
    margin: 3vh 0;
    text-align: center;
}

footer img {
    max-height: 10vh;
}

#body-container {
    display: grid;
    grid-template-columns: 5vw 70vw 20vw 5vw;
    grid-template-rows: 10vh 5vh 75vh 10vh;
}

#header-container {
    grid-column: 2 / 4;
    grid-row: 1;
    align-items: center;
}

#nav-container {
    grid-column: 2 / 4;
    grid-row: 2;
}

#main-container {
    grid-column: 2;
    grid-row: 3;
}

#aside-container {
    grid-column: 3;
    grid-row: 3;
}

#footer-container {
    grid-column: 2 / 4;
    grid-row: 4;
}

